@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <p></p>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/school2.png" />
    </div>
    <div class="col-md-6 genpage">
        <h3>Thanks for Visiting</h3>
        <p>The Woodworth Elementary Family Association created the School Store website to provide an 
        easy way for parents and friends of the school to support the family association.  By buying 
        your school spirit through this website, the school can earn 10% cash back on the sale.  </p>
        <p> The purpose of the family association is to support Woodworth Elementary. We strive to enhance 
            the educational experience of the students attending the school with enrichment programs, the 
            acquisition of materials to improve the school environment, family social activities, and other 
            activities to support relationships among families, teachers, staff, and administration.
        </p>
    </div>
    <div class="col-md-3">
    </div>
</div>
