@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <p></p>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/school2.png" />
    </div>
    <div class="col-md-6 genpage">
        <h3>Questions, Concerns, or Comments</h3>
        <p>
            The Woodworth Elementary Family Association is happy to connect.  Please contact us by emailing
            the email addresses below.
        </p>
        <address>
            Woodworth Elementary Family Association<br />
            123 School Street
            Libertyville, IL 60048-0123<br />
            <abbr title="Phone">P:</abbr>
            224.555.0100
        </address>
        <address>
            <strong>Family Association:</strong> <a href="mailto:Support@example.com">WEFA@woodworthelementary.com</a><br />
        </address>

    </div>
    <div class="col-md-3">
    </div>
</div>




