@{
    ViewData["Title"] = "Order Receipt Page";
}
<div class="row">
    <div class="col-md-3">
        <img src="~/images/school2.png" />
    </div>
    <div class="col-4">
        <div class="card border-light mb-5" style="max-width: 40rem;">
            <div class="card-header">Your Order Is Complete</div>
            <div class="card-body">
                <h6 class="card-title">Thanks for your order.</h6>
                <p class="card-text">Order details will be placed in this section. </p>
            </div>
        </div>
    </div>
</div>




